In [78]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, LeaveOneOut, StratifiedKFold
from sklearn.linear_model import LogisticRegression

In [79]:
path = '../datasets/Data_for_UCI_named.csv'
data = pd.read_csv(path)
data.drop('stab', axis=1, inplace=True)

In [80]:
data

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,unstable

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stabf   10000 non-null  object
dtypes: float64(12), object(1)
memory usage: 1015.8+ KB

> no null and missing vlaues

check for outliers

In [82]:
def detect_outlier(data, columns):
    for col in columns:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        print(col, "--outlier->",((data[col] < (Q1 - 1.5 * IQR)) |(data[col] > (Q3 + 1.5 * IQR))).any())

In [83]:
num_data = data.select_dtypes(exclude='object')

In [84]:
num_data

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631

In [85]:
detect_outlier(num_data, columns=num_data.columns.to_list())

tau1 --outlier-> False
tau2 --outlier-> False
tau3 --outlier-> False
tau4 --outlier-> False
p1 --outlier-> True
p2 --outlier-> False
p3 --outlier-> False
p4 --outlier-> False
g1 --outlier-> False
g2 --outlier-> False
g3 --outlier-> False
g4 --outlier-> False

> treat outlier columns by median replacement

In [86]:
median = data['p1'].quantile(0.50)
q95   =  data['p1'].quantile(0.95)
q5  =  data['p1'].quantile(0.05)

print(median, q95, q5)

3.751025437294685 4.9887398848437625 2.501846406280956

In [87]:
data['p1'] > q95

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: p1, Length: 10000, dtype: bool

In [88]:
data.p1 = np.where(data['p1'] > q95, median, data['p1'])

In [89]:
data.p1 = np.where(data['p1'] < q5, median, data['p1'])

check again

In [90]:
num_data = data.select_dtypes(exclude='object')
detect_outlier(num_data, columns=num_data.columns.to_list())

tau1 --outlier-> False
tau2 --outlier-> False
tau3 --outlier-> False
tau4 --outlier-> False
p1 --outlier-> False
p2 --outlier-> False
p3 --outlier-> False
p4 --outlier-> False
g1 --outlier-> False
g2 --outlier-> False
g3 --outlier-> False
g4 --outlier-> False

check for imbalance in dataset

In [104]:
data.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [119]:
unstable_n = data.stabf.value_counts()[0]
stable_n = data.stabf.value_counts()[1]

In [131]:
imb_check = pd.DataFrame(data.stabf.value_counts())
imb_check.stabf

10000

check ratio of imbalance

In [134]:
size = data.stabf.value_counts().sum()
size

10000

array([0.638, 0.362])

In [140]:
pd.Series(np.array([unstable_n/size, stable_n/size]))

0    0.638
1    0.362
dtype: float64

In [142]:
imb_check['ratio'] = np.array([unstable_n/size, stable_n/size])

In [143]:
imb_check

          stabf  ratio
unstable   6380  0.638
stable     3620  0.362

we have approximately a ratio of 6:4 in the dataseet

becuase our data is between 0 & 10,000; wwe would perform an oversampling of the imbalanced class

> install the imblearn package t0 do the sampling

In [147]:
!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 167 kB 108 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.23 in /home/patrick/.local/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.23.1)
Requirement already satisfied: scipy>=0.19.1 in /home/patrick/.local/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /home/patrick/.local/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in /home/patrick/.local/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.15.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/patrick/.local/lib/python3.6/site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.7.0 imblearn-0.0